<div class="row">
    <div ng-repeat="item in reportData">

        <div class="col-md-8 col-md-offset-2">
            <div class=" panel panel-primary">
                <div class="panel-heading">
                    <h3>
                        {{item['Your name and project']}}
                    </h3>
                </div>
                <div class="panel-body">
                    <dl>
                        <dt>What achievenemts did you have on the project?</dt>
                        <dd>
                            <p>
                                {{item['What achievenemts did you have on the project?']}}
                            </p>
                        </dd>
                        <dt>Upcoming activites</dt>
                        <dd>
                            <p>
                                {{item['Upcoming activites']}}
                            </p>
                        </dd>
                        <dt>Share feedback</dt>
                        <dd>
                            <p>
                                {{item['Share feedback']}}
                            </p>
                        </dd>
                        <dt>Problems you\'ve heard about on your project?</dt>
                        <dd>
                            <p>
                                {{item['Problems you\'ve heard about on your project?']}}
                            </p>
                        </dd>
                        <dt>Did your team start to use new tool/technology/framework?</dt>
                        <dd>
                            <p>
                                {{item['Did your team start to use new tool/technology/framework?']}}
                            </p>
                        </dd>
                        <dt>Decissions needed</dt>
                        <dd>
                            <p>
                                {{item['Decissions needed']}}
                            </p>
                        </dd>

                    </dl>
                </div>
            </div>
        </div>


    </div>
    <br>

</div>